.conteiner{
    background-color: rgb(207, 0, 0);
    height: 125px;
}

 h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 50px; */
    padding-top: 40px ;
    justify-content: center;
    text-align: center;
}