.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* ajuste a cor do fundo conforme necessário */
  text-align: center; /* ajuste o alinhamento do texto conforme necessário */
  padding: 10px; /* ajuste o espaçamento interno conforme necessário */
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* ajuste a sombra conforme necessário */
}

ul{
    justify-content: center;
}